.post {
    background-color: #1a1919;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.post:hover {
    transform: scale( 1.05);
}

.post > img {
    max-width: calc(100% - 30px);
    margin:15px auto;
    display: block;
}

.post-content {
    padding: 30px;
}